MMKV_ID=desmos-flagship-dev
FORBOLE_GQL=https://gql-morpheus.desmos.forbole.com
DESMOS_GQL=https://gql.morpheus.desmos.network
DESMOS_RPC=https://rpc.morpheus.desmos.network:443
DESMOS_REST=https://testnet-api.dfp.desmos.network
CHAIN=mainnet
FEE_GRANTER=desmos1ha4f852205lgsntq579x74ndfnqacy8z9uqqqa
BASE_DENOM=udaric
APP_SUBSPACE_ID=5
