FORBOLE_GQL=https://gql-morpheus.desmos.forbole.com
DESMOS_GQL=https://gql.morpheus.desmos.network
BUTTER_GQL=https://gql.testnet.butter.social
BUTTER_REST=https://apis.testnet.butter.social
APP_SUBSPACE_ID=5
DEV_MNEMONIC=
