MMKV_ID=desmos-flagship-dev
FORBOLE_GQL=https://gql-morpheus.desmos.forbole.com
DESMOS_GQL=https://gql.morpheus.desmos.network
DESMOS_RPC=https://rpc.morpheus.desmos.network:443
CHAIN_ID=morpheus-apollo-2
FEE_GRANTER=
BASE_DENOM=udaric
