MMKV_ID=desmos-flagship-dev
FORBOLE_GQL=https://gql-morpheus.desmos.forbole.com
BUTTER_GQL=https://gql.testnet.butter.social
BUTTER_REST=https://apis.testnet.butter.social
DESMOS_RPC=https://rpc.morpheus.desmos.network:443
CHAIN=testnet
BASE_DENOM=udaric
APP_SUBSPACE_ID=5
DEV_MNEMONIC='brave time key recipe cream phrase base similar ill once tool limit outside baby robust index patch stable visual mimic response blush arrest cancel'
