# Android
ANDROID_KEYSTORE_BASE64=
ANDROID_SIGNING_STORE_PASSWORD=
ANDROID_SIGNING_ALIAS=
ANDROID_SIGNING_KEY_PASSWORD=
PLAYSTORE_JSON_KEY=

# iOS
IOS_SKIP_POD_INSTALL=false
DEVELOPER_PORTAL_TEAM_ID=
FASTLANE_APPLE_ID=
DEVELOPER_APP_ID=
DEVELOPER_APP_IDENTIFIER=
FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD=
MATCH_PASSWORD=
GIT_AUTHORIZATION=
PROVISIONING_PROFILE_SPECIFIER=
TEMP_KEYCHAIN_PASSWORD=
TEMP_KEYCHAIN_USER=
APPLE_KEY_ID=
APPLE_ISSUER_ID=
APPLE_KEY_CONTENT=
APP_STORE_CONNECT_TEAM_ID=

# Common
VERSION_OVERRIDE=
