ANDROID_SIGNING_STORE_PASSWORD=
ANDROID_SIGNING_ALIAS=
ANDROID_SIGNING_KEY_PASSWORD=
PLAYSTORE_JSON_KEY_BASE64=
ANDROID_SIGNING_KEY_BASE64=
SCRIPT_PREFIX=

APP_STORE_CONNECT_TEAM_ID=
DEVELOPER_APP_ID=
FASTLANE_APPLE_ID=
DEVELOPER_APP_IDENTIFIER=
MATCH_PASSWORD=
PROVISIONING_PROFILE_SPECIFIER=
TEMP_KEYCHAIN_USER=
TEMP_KEYCHAIN_PASSWORD=
APPLE_ISSUER_ID=
APPLE_KEY_ID=
APPLE_KEY_CONTENT=
GIT_AUTHORIZATION=
